@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gold: #9c8253;
  --secondaly: #060620;
  --main: #dadceb;
  --second-color: #060620;
  --third: #10113c;
  --background-color: #747898;
  --color: #9176FF;
  --font: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Abel", sans-serif;
  background-color: #baafaf;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
header {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.2s ease;
  background-image: linear-gradient(45deg, var(--gold), transparent);
  background-color: #060620e0;
  transition: 0.5s;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header:hover,
header.hoverd {
  background-color: var(--third);
}
header .container .logo-image img {
  width: 150px;
  position: relative;
  top: -11px;
  font-size: 20px;
  right: -300px;
  letter-spacing: 2px;
  color: #ffdead;
}
@media (max-width: 767px) {
  header .container .logo-image img {
    width: 100px;
    right: -100px !important;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  header .container .logo-image img {
    width: 150px;
    right: -190px !important;
  }
}
@media (max-width: 990px) {
  header .container .logo-image img {
    width: 150px;
    right: -130px !important;
  }
}
@media (max-width: 740px) {
  header .container .logo-image img {
    width: 150px;
    right: -90px !important;
  }
}

header .container .burger-links {
  width: 30px;
  height: 20.5px;
  position: absolute;
  cursor: pointer;
  right: 20px;
}
@media (max-width: 767px) {
  header .container .burger-links {
    right: 20px;
    top: 15px;
  }
}
header .container .burger-links span {
  position: absolute;
  background-color: white;
  left: 0;
  height: 1.5px;
  width: 100%;
  transition: 0.5s;
  border-radius: 3px;
}
header .container span:first-child {
  top: 0;
}
header .container span:nth-child(2) {
  top: 10px;
  height: 1.5px;
}
header .container span:last-child {
  top: 20px;
}
header:hover .burger-links span,
header.hoverd .burger-links span {
  background-color: white;
}
.burger-links.clicked span:nth-child(2) {
  opacity: 0;
}
.burger-links.clicked span:first-child,
.burger-links.clicked span:last-child {
  top: 9px;
}
.burger-links.clicked span:first-child {
  transform: rotate(45deg);
  background-color: white;
}
.burger-links.clicked span:last-child {
  transform: rotate(-45deg);
  background-color: rgb(217, 217, 217);
}

header .container .logo {
  margin-left: -100px;
}
@media (max-width: 991px) {
  header .container .logo {
    margin-left: 0;
  }
}

header .container .logo .brand-name {
  font-family: "Cairo", sans-serif;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #f2b863;
  transition: 0.5s;
}

header:hover .logo #brand-name,
header.hoverd .logo #brand-name {
  color: white;
}
@media (max-width: 767px) {
  .container .logo .brand-name {
    font-size: 45px !important;
    margin-left: -30px;
    margin-bottom: 10px;
    margin-top: -10px;
  }
}
header:hover #brand-text,
header.hoverd #brand-text {
  color: white;
}
header .container .logo span {
  position: relative;
  top: -11px;
  font-size: 20px;
  right: -50px;
  letter-spacing: 2px;
  color: #ffdead;
  transition: 0.5s;
}
@media (max-width: 767px) {
  header .container .logo span {
    font-size: 16px;
    right: -28px;
  }
}
header .container .icons i {
  color: white;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  right: 60px;
}
@media (max-width: 767px) {
  header .container .icons i {
    display: none;
  }
}
header:hover .icons i,
header.hoverd .icons i {
  color: white;
}

header .links {
  border-top: 2px solid #f6f6f67a;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #f6f6f67a;
  margin-left: 0px;
  padding-left: 30%;
}
@media (max-width: 500px) {
  header .links {
    display: none;
  }
}
header .links a {
  color: white;
  margin-left: 30px;
  font-size: 17px;
  letter-spacing: 2px;
  transition: 0.5s;
  font-family: "Abel", sans-serif;
}
header:hover .links a,
header.hoverd .links a {
  color: white;
}
header .links a:hover {
  border-bottom: 0.5px solid white;
}
.slide-nav {
  position: fixed;
  left: -500px;
  top: 115px;
  background-color: white;
  width: 350px;
  height: 696px;
  transition: 0.5s;
  border-radius: 6px;
  padding: 20px;
  z-index: 999;
}
@media (max-width: 400px) {
  .slide-nav {
    width: 100%;
  }
}
.slide-nav ul li {
  display: block;
  padding: 30px 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.slide-nav ul li:hover {
  background-color: #eee;
}
.slide-nav ul li span:first-child {
  transition: 0.5s ease;
  margin-left: 10px;
}
.slide-nav ul li:hover span:first-child {
  transform: translateX(30px);
}
.slide-nav ul li span:last-child {
  position: absolute;
  right: 100px;
  opacity: 0;
}
.slide-nav ul li:hover span:last-child {
  animation: move-right ease 0.5s both 0.08s;
}
.slide-nav button {
  margin-top: 70px;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.landing-sec {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  .landing-sec {
    height: 80vh;
  }
}
.landing-sec .image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.landing-sec .image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}
.landing-sec .image-container img.active {
  opacity: 1;
}
.navigation-angles i {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  color: rgb(8, 168, 255);
  font-size: 30px;
  cursor: pointer;
  opacity: 0.4;
  transition:0.3s
}
.navigation-angles i:hover{
  opacity: 1;
  box-shadow: rgb(8, 168, 255) 5px 5px 6px 1px ;
}
/* @media (max-width: 767px) {
  .navigation-angles i {
    display: none;
  }
} */
.navigation-angles i:first-child {
  right: 30px;
}
.navigation-angles i:last-child {
  left: 30px;
}
.navigation-angles i.disabled {
  cursor: no-drop;
  color: #eee;
}
.images-polits {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .images-polits {
    display: none;
  }
}
.images-polits ul {
  display: flex;
  gap: 20px;
}
.images-polits ul li {
  border-radius: 50%;
  border: rgb(8, 168, 255) 1px solid;
  height: 15px;
  width: 15px;
  transition: 0.5s ease;
}
.images-polits ul li.active {
  background-color: rgb(8, 168, 255);
}
/* start managment section */
.swiper {
  width: 100%;
  height: 600px;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card {
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}
.card__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid #f2b863;
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
  font-family: var(--font);
  margin-bottom: 20px;
}

.card__name {
  color: #f2b863;
  font-family: var(--font);
}

.card__text {
  text-align: center;
  font-size: 0.9rem;
  margin: 1em 0;
  font-family: var(--font);
  line-height: 1.6;
}
.card__phone {
  margin-bottom: 10px;
}
.card__btn {
  background-color: #f2b863;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  font-family: var(--font);
  margin-top: 20px;
}
/* end managment section */

/* start poduct section  */

.product {
  min-height: 600px;
  background-color: #dadceb;
  padding: 70px 0 ;
}
.section-title{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.section-title ul {
  display: flex;
  justify-content: space-around;
  margin: 15px 0 40px;
}
.section-title li {
  border-radius: 15px;
  padding: 10px;
  transition:.3s;
  cursor: pointer;
}
.section-title li:hover {
  background-color: #f2b863;
}
.section-title li.active{
  background-color: #f2b863;
}
.section-title li a{
  color: #f2b863;
  font-size: 17px;
  transition:.3s;
}
.section-title li:hover a{
  color:white ;
}
.section-title li.active a{
  color:white ;
}


.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:40px;
}
.product-card{
  overflow: hidden;
  border-radius: 10px;
  background-color: #eee;
  position: relative;
  min-height: 320px;
  transition:0.5s;
}

.product-card:hover{
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 25px 2px;
}
.product-image img{
  width: 100%;
}
.product-name h3{
  margin: 15px 0 0;
  text-align: center;
}
.product-text{
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
.product-card button{
  margin-bottom: 20px;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f2b863;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 50%;
}
.product-card .new {
  background-color:rgba(44, 191, 232);
  color:white;
  border-radius:10px;
  position:absolute;
  right:10px;
  top:5px;
  transition:0.5s;
}
.product-card:hover .new{
  background-color:rgba(232, 44, 119);
}
/* end poduct section  */


/* start animations */
@keyframes move-right {
  100% {
    right: 10px;
    opacity: 1;
  }
}

/* end animations */
@media (max-width: 600px) {
  .container .logo .brand-name {
    font-size: 40px !important;
    margin-left: -10px;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  header .container .logo span {
    font-size: 15px;
    right: 25px;
  }
  header .container .logo-image img {
    width: 90px;
    right: 0 !important;
  }
  header .container .burger-links {
    right: 20px;
    top: 15px;
  }
}
