@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gold: #9c8253ca;
  --secondaly: #060620;
  --main: #dadceb;
  --second-color: #060620;
  --third: #10113c;
  --background-color: #747898;
  --font: 'Poppins', sans-serif;

  /* COLORS */
  --color: #9176FF;
  --bg-color: #f4f4f4;
  /*
*/
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Abel", sans-serif;
  background-color: #baafaf;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* start component */

/* end component */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
header {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.2s ease;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header:hover,
header.hoverd {
  background-color: #fff;
}
header .container .logo-image img {
  width: 70px;
  aspect-ratio: 1/1;
}
@media (max-width: 767px) {
  header .container .logo-image img {
    width: 50px;
    aspect-ratio: 1/1;
  }
}
header .container .burger-links {
  width: 30px;
  height: 20.5px;
  position: absolute;
  cursor: pointer;
  right: 50px;
}
@media (max-width: 767px) {
  header .container .burger-links {
    right: 20px;
  }
}
header .container .burger-links span {
  position: absolute;
  background-color: white;
  left: 0;
  height: 1.5px;
  width: 100%;
  transition: 0.5s;
  border-radius: 3px;
}
header .container span:first-child {
  top: 0;
}
header .container span:nth-child(2) {
  top: 10px;
  height: 1.5px;
}
header .container span:last-child {
  top: 20px;
}
header:hover .burger-links span,
header.hoverd .burger-links span {
  background-color: black;
}
.burger-links.clicked span:nth-child(2) {
  opacity: 0;
}
.burger-links.clicked span:first-child,
.burger-links.clicked span:last-child {
  top: 9px;
  color: rgb(178, 5, 5);
}
.burger-links.clicked span:first-child {
  transform: rotate(45deg);
}
.burger-links.clicked span:last-child {
  transform: rotate(-45deg);
}

header .container .logo {
  margin-left: -100px;
}
@media (max-width: 991px) {
  header .container .logo {
    margin-left: 0;
  }
}

header .container .logo .brand-name {
  font-family: "Cairo", sans-serif;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #f2b863;
}

header:hover .logo #brand-name,
header.hoverd .logo #brand-name {
  color: black;
}
@media (max-width: 767px) {
  .container .logo .brand-name {
    font-size: 30px !important;
    margin-left: -30px;
  }
}
header:hover #brand-text,
header.hoverd #brand-text {
  color: black;
}
header .container .logo span {
  position: relative;
  top: -11px;
  color: #ffdead;
  font-size: 12px;
  right: -30px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  header .container .logo span {
    font-size: 9px;
    right: 20px;
  }
}
header .container .icons i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .container .icons i {
    display: none;
  }
}
header:hover .icons i,
header.hoverd .icons i {
  color: black;
}

header .links {
  border-top: 2px solid #f6f6f67a;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #f6f6f67a;
  margin-left: -100px;
}
@media (max-width: 991px) {
  header .links {
    display: none;
  }
}
header .links a {
  color: white;
  margin-left: 30px;
  font-size: 17px;
  letter-spacing: 2px;
  transition: 0.5s;
  font-family: "Abel", sans-serif;
}
header:hover .links a,
header.hoverd .links a {
  color: black;
}
header .links a:hover {
  border-bottom: 0.5px solid black;
}
.slide-nav {
  position: fixed;
  top: 85px;
  background-color: white;
  width: 350px;
  height: 696px;
  transition: 0.5s;
  border-radius: 6px;
  padding: 20px;
  z-index: 999;
}
@media (max-width: 400px) {
  .slide-nav {
    width: 100%;
  }
}
.slide-nav ul li {
  display: block;
  padding: 30px 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.slide-nav ul li:hover {
  background-color: #eee;
}
.slide-nav ul li span:first-child {
  transition: 0.5s ease;
  margin-left: 10px;
}
.slide-nav ul li:hover span:first-child {
  transform: translateX(30px);
}
.slide-nav ul li span:last-child {
  position: absolute;
  right: 100px;
  opacity: 0;
}
.slide-nav ul li:hover span:last-child {
  animation: move-right ease 0.5s both 0.08s;
}
.slide-nav button {
  margin-top: 70px;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.landing-sec {
  width: 100%;
  height: 100vh;
  position: relative;
}
.landing-sec .image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .landing-sec .image-container {
    display: none;
  }
}
.landing-sec .image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}
.landing-sec .image-container img.active {
  opacity: 1;
}
.navigation-angles i {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navigation-angles i {
    display: none;
  }
}
.navigation-angles i:first-child {
  right: 30px;
}
.navigation-angles i:last-child {
  left: 30px;
}
.navigation-angles i.disabled {
  cursor: no-drop;
  color: #eee;
}
.images-polits {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .images-polits {
    display: none;
  }
}
.images-polits ul {
  display: flex;
  gap: 20px;
}
.images-polits ul li {
  border-radius: 50%;
  border: white 1px solid;
  height: 15px;
  width: 15px;
  transition: 0.5s ease;
}
.images-polits ul li.active {
  background-color: rgb(8, 168, 255);
}

/* start managment section */
.swiper{
  width: 100%;
  height: 600px;
  background-color: #EEE;
  display: flex;
  align-items: center;
}

.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
}
.card__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
  font-family: var(--font);
  margin-bottom: 20px;
}

.card__name {
  color: var(--color);
  font-family: var(--font);
}

.card__text {
  text-align: center;
  font-size: 0.9rem;
  margin: 1em 0;
  font-family: var(--font);
  line-height: 1.6;
}
.card__phone{
  margin-bottom: 10px;
}
.card__btn {
  background-color: var(--color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  font-family: var(--font);
  margin-top:20px;
}
/* end managment section */

/* start animations */
@keyframes move-right {
  100% {
    right: 10px;
    opacity: 1;
  }
}

/* end animations */
