* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gold: #9c8253;
  --secondaly: #060620;
  --main: #dadceb;
  --second-color: #060620;
  --third: #10113c;
  --background-color: #747898;
  /*
*/
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Abel', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
header {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header:hover,header.hoverd {
  background-color: #fff;
}
header .container .nav-links {
  display: flex;
  align-items: center;
}
header .container .burger-links {
  width: 30px;
  height: 20.5px;
  position: relative;
  cursor: pointer;
}
header .container .burger-links span {
  position: absolute;
  background-color: white;
  left: 0;
  height: 1.5px;
  width: 100%;
  transition: 0.5s;
  border-radius: 3px;
}
header .container  span:first-child {
  top: 0;
}
header .container span:nth-child(2) {
  top: 10px;
  height: 1.5px;
}
header .container span:last-child {
  top: 20px;
}
header:hover .burger-links span,header.hoverd .burger-links span{
  background-color: black;
}
.burger-links.clicked span:nth-child(2) {
  opacity: 0;
}
.burger-links.clicked span:first-child,
.burger-links.clicked span:last-child {
  top: 9px;
  color: rgb(178, 5, 5);
}
.burger-links.clicked span:first-child {
  transform: rotate(45deg);
}
.burger-links.clicked span:last-child {
  transform: rotate(-45deg);
}
header .container .links {
  margin-left: 25px;
}
@media (max-width: 991px) {
  header .container .links {
    display: none;
  }
}
header .container .links a {
  color: white;
  margin-left: 15px;
  font-size: 16px;
  letter-spacing: 2px;
  transition: 0.5s;
  font-family: 'Abel', sans-serif;
}
header:hover .links a,header.hoverd .links a {
  color: black;
}
header .container .links a:hover {
  border-bottom: 0.5px solid black;
}
header .container .logo {
  margin-left: -300px;
}
@media (max-width: 991px) {
  header .container .logo {
    margin-left: 0;
  }
}
header:hover .logo #brand-name,header.hoverd .logo #brand-name{
  color: black;
}
@media (max-width: 767px) {
  .container .logo .brand-name {
    font-size: 30px !important;
  }
}
header:hover #brand-text,header.hoverd #brand-text{
  color: black;
}
header .container .logo .brand-name {
  font-family: "Cairo", sans-serif;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: white;
}
header .container .logo span {
  position: relative;
  top: -11px;
  color: white;
  font-size: 12px;
  right: -30px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  header .container .logo span {
    font-size: 9px;
    right: -15px;
  }
}
header .container .icons i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}
header:hover .icons i,header.hoverd .icons i{
  color: black;
}
.slide-nav {
  position: absolute;
  left: -500px;
  top: 85px;
  background-color: white;
  width: 350px;
  height: 696px;
  transition: 0.5s;
  border-radius: 6px;
  padding: 20px;
  z-index: 999;
}
@media (max-width: 767px) {
  .slide-nav {
    width: 100%;
  }
}
.slide-nav ul li {
  display: block;
  padding:30px 0 ;
  border-bottom:1px solid black;
  display: flex;
  justify-content: space-between;
  position:relative;
  border-radius:6px;
  cursor: pointer;
  width:100%
}
.slide-nav ul li:hover{
  background-color:#eee
}
.slide-nav ul li span:first-child{
  transition:0.5s ease;
  margin-left: 10px;
}
.slide-nav ul li:hover span:first-child{
  transform: translateX(30px);
}
.slide-nav ul li span:last-child{
  position: absolute;
  right: 100px;
  opacity: 0;
}
.slide-nav ul li:hover span:last-child{
  animation:move-right ease 0.5s both 0.08s;
}
.slide-nav button{
  margin-top:70px;
  border:none;
  background-color:#000;
  color:#fff;
  padding:10px;
  border-radius: 6px;
  cursor: pointer;
}

.landing-sec{
  width:100%;
  height:100vh;
  position:relative
}
.landing-sec .image-container{
  width:100%;
  height:100%;
  position:relative
}
.landing-sec .image-container img{
  position:absolute;
  width:100%;
  height:100%;
  opacity: 0;
  transition:1s 
}
.landing-sec .image-container img.active{
  opacity: 1;
}
.navigation-angles i{
  position:absolute;
  top:50%;
  transform: translateY(-70%);
  color:white;
  font-size:30px;
  cursor: pointer;
}
.navigation-angles i:first-child{
  right:30px;
}
.navigation-angles i:last-child{
  left:30px;
}
.navigation-angles i.disabled{
  cursor: no-drop;
  color: #eee;
}
.images-polits {
  position:absolute;
  bottom:70px;
  left:50%;
}
.images-polits ul{
  display: flex;
  gap:20px;
}
.images-polits ul li {
  border-radius: 50%;
  border: white 1px solid ;
  height:15px;
  width:15px;
}
.images-polits ul li.active{
  background-color: rgb(8, 168, 255);
}












/* start animations */
@keyframes move-right {
  100%{
    right: 10px;
    opacity: 1;
  }
}

/* end animations */